body {
    background-color: #f2f2f2;
    margin: 0px;
    padding: 0px;
}

table {
    background-color: #FFF;
    width: 200px;
    height: auto;
}

img {
    display: block;
    border: 0;
}

#flex-tr {
    display: flex;
}

@media screen and (max-width: 600px) {
    table {
        width: 300px;
        align-self: flex-start;
        margin-left: auto;
        margin-right: auto;
    }
    img {
        width: 500px;
    }
    #flex-tr {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #flex-tr img {
        width: 300px;
    }

}

@media screen and (max-width: 500px) {
    img {
        width: 400px;
    }

    #flex-tr img {
        width: 300px;
    }
}

/* PARA CONSEGUIR VER MELHOR AS FATIAS PRESENTES NO HTML, DESCOMENTE O CÓDIGO ABAIXO.
/*img:hover {
    -webkit-filter: brightness(0);
}*/